<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>Paint page</title>
    </head>

   <body>
   <div id="wrap">
       <!---- 그림판 ---->
       <!--- 일기 내용 영역 --->
       <form name="form" id="form" ><!--action="/diary" method="POST" onsubmit="checkForm()";-->
           <div class="floatL">
               <canvas id="jsCanvas" class="canvas"></canvas>
               <div class="controls">
               <div class="controls_range">
                   <input type="range" id="jsRange" min="0.1" max="5.0" value="2.5" step="0.1"/>
               </div>
               <div class="controls_btns">
                   <button id="jsMode">지우기</button>
                   <button id="jsSave">그림 저장</button>
               </div>
               <div class="controls_colors" id="jsColors">
                   <div class="controls_color jsColor" style="background-color: #2c2c2c;"></div>
                   <div class="controls_color jsColor" style="background-color: white;"></div>
                   <div class="controls_color jsColor" style="background-color: #FF3B30;"></div>
                   <div class="controls_color jsColor" style="background-color: #ff9500;"></div>
                   <div class="controls_color jsColor" style="background-color: #4cd963;"></div>
                   <div class="controls_color jsColor" style="background-color: #5ac8fa;"></div>
                   <div class="controls_color jsColor" style="background-color: #0579ff;"></div>
                   <div class="controls_color jsColor" style="background-color: #5856d6;"></div>
               </div>
           </div>
           </div>

            <!-- 제목 -->
           <div class="floatR">
               <div>
                   <!-- 제목 -->
                   <input type="text" name="title" id="title" placeholder="제목 (최대 17글자)" maxLength="17">
                   <!--오늘 날짜 : 변수가져오기, 허용하는 가장 늦은날짜, 허용하는 가장 이른 날짜-->
                   <input type="date" id="day" name="trip-start">
                   <!--value="2018-11-10" min="2018-01-01" max="2018-12-31"-->
                   <!-- 내용 -->
                   <textarea name="내용" id="texts" placeholder="최대 70글자까지 작성 가능합니다" maxLength="70"></textarea>
                   <!-- 날씨 -->
                   <select name="날씨" id="weather">
                       <option value="🌞">맑음 🌞</option>
                       <option value="☁">구름 ☁</option>
                       <option value="🌨">비🌨</option>
                       <option value="🌩">번개🌩</option>
                       <option value="⛅">흐림⛅</option>
                   </select>
                   <!-- 저장 -->
                   <input type="button" id="submit" class="submit-button" value="저장" name="제출버튼">
                   <input type="button" id="cancel" value="작성 취소">
               </div>
           </div>
       </form>
   </div>

    <script>
        const canvas = document.getElementById("jsCanvas");
        const ctx = canvas.getContext("2d");
        const colors = document.getElementsByClassName("jsColor");
        const range = document.getElementById("jsRange");
        const mode = document.getElementById("jsMode");
        const saveBtn = document.getElementById("jsSave");
        const INITIAL_COLOR = "2c2c2c";
        const CANVAS_SIZE = 600;
        const CANVASH_SIZE = 400;
        canvas.width = CANVAS_SIZE;
        canvas.height = CANVASH_SIZE;
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, CANVAS_SIZE, CANVAS_SIZE);
        ctx.strokeStyle = INITIAL_COLOR;
        ctx.fillStyle = INITIAL_COLOR;
        ctx.lineWidth = 2.5;

        let painting = false;
        let filling = false;

        function stopPainting() {
            painting = false;
        }

        function startPainting() {
            painting = true;
        }

        function onMouseMove(event) {
            // const x = event.offsetX;
            const x = event.clientX - ctx.canvas.offsetLeft;
            const y = event.clientY - ctx.canvas.offsetTop;
            console.log(x, y);
            if (!painting) {
                //console.log("creating path in" , x ,y);
                ctx.beginPath(); //경로 생성
                ctx.moveTo(x, y); //선 시작 좌표
            } else {
                //console.log("creating line in" , x ,y);
                ctx.lineTo(x, y); //선 끝 좌표
                ctx.stroke(); //선 그리기
                //ctx.closePath(); //현대미술같은 선들..
            }
        }


        function handleColorClick(event) {
            const color = event.target.style.backgroundColor;
            ctx.strokeStyle = color;
            ctx.fillStyle = color;
        }

        function handleRangeChange(event) {
            const size = event.target.value;
            ctx.lineWidth = size;
        }

        function handleModeClick() {
            if (filling === true) {
                filling = false;
                mode.innerText = "FILL";
            } else {
                filling = true;
                mode.innerText = "PAINT"
            }
        }

        function handleCanvasClick() {
            if (filling) {
                ctx.fillRect(0, 0, CANVAS_SIZE, CANVAS_SIZE);
            }
        }

        function handleCM(event) {
            event.preventDefault();
        }

        function handleSaveClick() {
            const image = canvas.toDataURL();
            const link = document.createElement("a");
            link.href = image;
            link.download = "PaintJS[🎨]";
            link.click();
        }

        if (canvas) {
            canvas.addEventListener("mousemove", onMouseMove);
            canvas.addEventListener("mousedown", startPainting);
            canvas.addEventListener("mouseup", stopPainting);
            canvas.addEventListener("mouseleave", stopPainting);
            canvas.addEventListener("click", handleCanvasClick);
            canvas.addEventListener("contextmenu", handleCM)
        }
        Array.from(colors).forEach(color => color.addEventListener("click", handleColorClick));
        if (range) {
            range.addEventListener("input", handleRangeChange);
        }
        if (mode) {
            mode.addEventListener("click", handleModeClick);
        }
        if (saveBtn) {
            saveBtn.addEventListener("click", handleSaveClick);
        }

    </script>
    <script>

       // 오늘 날짜를 기본으로 표시, 7일전 일기까지 작성 가능
       let today = new Date()
       let year = today.getFullYear();
       // 월 getMonth() (0~11로 1월이 0으로 표현되기 때문에 + 1을 해주어야 원하는 월을 구할 수 있다.)
       let month = today.getMonth() + 1
       // 일 getDate()
       let date = today.getDate(); // 일
       // console.log(year + '-' + month + '-' + date);

       // 일기 저장 클릭
       const submitBtn = document.querySelector('.submit-button');

       const cancel = document.querySelector('#cancel');


        cancel.addEventListener('click', () => {
            alert("작성을 취소하셨습니다");
           window.location.href = '/'
        })



       // input 빈값 체크
       {#let inputCheck = document.getElementsByClassName("check");#}

       submitBtn.addEventListener('click', () => {

            // 그림판 저장
            const canvas = document.querySelector('#jsCanvas');
            let imgDataUrl = canvas.toDataURL('image/jpeg');

           // 제목
           let title_give = document.querySelector('#title').value;

           // 선택한 날짜
           let day_give = document.querySelector('#day').value;

           // 일기 내용
           let texts_give = document.querySelector('#texts').value;

           //날씨
           const weather_give = document.querySelector('#weather');
           let weather = weather_give.options[weather_give.selectedIndex].value;
           // console.log(weather)
           // selectedIndex : 선택한 요소의 인덱스를 반영
           //테스트
           console.log(imgDataUrl,title_give,day_give,texts_give,weather);

            if (imgDataUrl.trim() == "" || day_give.trim() == "" || texts_give.trim() == "" || title_give.trim() == "" ) {
                alert("작성을 완료해주세요!");
           }else{
                $.ajax({
                    type: "POST",
                    url: "/post",
                    data: {
                        'image': imgDataUrl,
                        'nickname': '유저 닉네임',
                        'title': title_give,
                        'diary_date': day_give,
                        'weather': weather,
                        'texts': texts_give
                    },
                    success: function (response) {
                         alert(response["msg"])
                        window.location.href = '/'
                    }
                })
            }




       })


   </script>

   </body>
</html>